~$
*.bak
*.old
*.swp
/*.tar.gz
/blib/
/cover_db
/inc/
/local
/Makefile
/Makefile.old
/MANIFEST$
/MANIFEST.bak
/META*
/MYMETA*
/pm_to_blib
example/public/asset/
node_modules
example/*js
example/package-lock.json
example/assets/webpack-entries.js
example/public
